$tooltipBackgroundColor: rgb(22, 22, 37);
$primaryColor: gold;
$softWhite: rgb(237, 237, 237);
$mainItemImageSize: 3rem;
$secondaryItemImageSize: 2rem;
$mainBackgroundColor: #010a13;
$borderColor: rgba(255, 246, 197, 0.3);
